{% extends 'base.html' %}
{% load static %}

{% block meta %}
{% endblock %}

{% block content %}

<!-- <form id="question-form">
<div class="container">
    <a type="submit" id="question-button" class="question-button">Ask New Question</a>

<input id="title">
<input id="body">

</form> -->
<a href="{% url 'question-add' %}">Ask New Question</a>
{% for question in questions %}
<div id="question-container">

<div class="question-div">
<a href= "{% url 'question-details' question.pk %}">
    <p>{{ question.title }}</p>
    <p>{{ question.body }}</p>
</a>
<a href="{% url 'question-delete' pk=question.pk %}">Delete Question</a>
</div>
{% endfor %}
</div>
</div>
{% endblock %}