{% extends 'base.html' %}
{% load static %}

{% block meta %}
<script src="{% static 'js/question_box.js' %}" defer></script>
{% endblock %}

{% block content %}

<form id="question-form-">
<div class="container">
    <button type="submit" id="question-button" class="question-button">Ask New Question</button>

<input id="title">
<input id="body">

</form>
<div id="question-container">
{% for question in questions %}
<div class="question-div">
<a href= "{% url 'question-details' question.pk %}">
    <p>{{ question.title }}</p>
    <p>{{ question.body }}</p>
</a>
</div>
{% endfor %}
</div>
</div>
{% endblock %}