{% extends 'base.html' %}
{% load static %}

{% block meta %}
{% endblock %}

{% block content %}

<div class="question-box">
    <h2 class="question-title">{{ question.title }}</h2>
    <h2 class="question-body">{{ question.body }}</h2>
    <a href="{% url 'question-by-category' question.tag %}" class="tag">{{question.tag}}</a>
    <a href="{% url 'question-favorites' question.pk %}"><button class="favorites-button">Add to Favorites</button></a>


    <div class='answer-form'>
        <form method="POST" class="answer">
            <h2 class="form-title">Add a Answer.</h2>
            {% csrf_token %} {{ form.as_p }}
            <button type="submit" class="save btn btn-default">Save</button>
          </form>
    </div>
   
    {% for answer in answers %}

    <h2 class="answer-body"> {{ answer.response_body }} </h2>

    {% endfor%}

</div>
{% endblock %}