{% load static %}
{% load qb_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
<title>Question Box</title>
{% block meta %}{% endblock %}
</head>
<body>
    <header class="title-box">
    <h1 class="title">What's Your Question?</h1>
    </header>

    <div class="link">
        <a class="link home" href="/">Home</a>
        <a class="link logout" href="http://127.0.0.1:8000/accounts/logout/">Log Out</a>
    </div>
    <main>
        {% block content %}

        {% endblock %}

    </main>

</body>
</html>